[user]
	name = Federico Guerinoni
	email = guerinoni.federico@gmail.com
	signingkey = C64FEC6274394E79829F857C6C17FCC1A3C0A699

[core]
	pager = delta
	editor = nvim
	ignorecase = false

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    algorithm = histogram
    context = 5

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true
[pull]
    rebase = true # use rebase instead of merge when pulling changes
[gpg]
	program = /opt/homebrew/bin/gpg

[includeIf "gitdir:~/velve/"]
    path = ~/velve/.gitconfig

[column]
	ui = auto

[fetch]
    prune = true
    prunetags = true

[rerere]
    enabled = true

[rebase]
    autoStash = true
    autoSquash = true
