[user]
	name = Federico Guerinoni
	email = guerinoni.federico@gmail.com
	signingkey = 402CB24350E0342C7EEE32BE9B758A215BD8176A

[core]
	pager = delta
	editor = nvim

[interactive]
    	diffFilter = delta --color-only

[delta]
    	navigate = true    # use n and N to move between diff sections
    	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    	conflictstyle = diff3

[diff]
    	colorMoved = default

[delta]
    	line-numbers = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
